body {
	font-family: Arial, sans-serif;
	width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px grey;
  -moz-box-shadow: 10px 10px 5px 0px grey;
  box-shadow: 10px 10px 5px 0px grey;
  /*some sort of shading for that box?*/
}

.picture {
  width: 300px;
  font-size: 8pt;
  text-align: center;
}

.card_text {
  width: 280px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

.size {
  font-size: 10pt;
}

.factheader {
  font-weight: bold;
  text-align: left;
}

.fact_sheet {
  list-style: none;
  margin: 0;
  padding: 0;
}

.interestingfact {
  font-style: italic;
}
